<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    <!-- Slideshow should be included directly in the index.html or home layout -->
    {%- if page.layout == "home" -%}
      {{ content }}
    {%- else -%}
      {%- include views/banner.html -%}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
    {%- endif -%}

    {%- include extensions/hashlocate.html -%}
    {%- include extensions/theme-toggle.html -%}
    {%- include extensions/click-to-top.html -%}
    {%- include views/footer.html -%}

  </body>
</html>
